extends ../layout/index
block content
  #playerDetail.container
    .row
      .col-sm-8
        article.playerslist
          .container
            .row
              .col-sm-8
                h3.playerslist-title=player.title
                h3.playerslist-name
                  a(href=`/players/${player.name}`)=player.name               
                p.playerslist-info
                  img.playerslist-img.img-responsive.pull-left(src=`/images/players/${player.photo}.jpg`, alt=`Photo of ${player.name}`)            
                
            // row
          // container
      // primary
      aside.col-sm-4
        article.sidebar
          br
          p Detailed Info
            h5=`Position: ${player.position}`
            h5=`Number: ${player.number}`
            h5=`Nationality: ${player.nationality}`