extends ../layout/index
block content
  #playerList.container
    .row
      .col-sm-8
        article.playerslist
          .container
            .row
              each player in playerList
                .col-sm-8
                  h3.playerslist-title=player.name
                  p.playerslist-info
                    a(href=`/players/${player.name}`)=player.position
                      img.playerslist-img.img-circle.pull-left(src=`/images/players/${player.photo}.jpg`, alt=`Photo of ${player.name}`)
                    br
                    span(style='color:red')=player.number
      aside.col-sm-4
        article.sidebar
            include ../includes/sidebar